{% extends "template.html" %} {% block title %} Posts {% endblock %} {% block
content %}
<h1 align="center">Posts</h1>
<ul class="list-group list-group-flush" id="posts">
  {% for posts in user.posts %}
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-text">{{ posts.data }}</div>
      <button type="button" class="close" onClick="deletePosts({{ posts.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <br />
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="posts" id="posts" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Post</button>
  </div>
</form>
<br />
<!-- <div align="center">
  <a href="/">
    <button type="button" class="btn btn-lg btn-secondary">Back</button>
  </a>
</div>
<br /> -->

{% include "backbutton.html" %} {% endblock %}
